In [ ]:
#### TUPLES

#### TUPLES 
TUPLES -

*  ordered collection of elements that are immatable

* Tuples can be converted into a list and vice versa

In [1]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
lst = list()
print(type(lst))

tpl =tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [17]:
#### LIST TO TUPLE

numbers=tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [18]:
mix_tpl = ("apple",3,3.4,True)

print(mix_tpl)

('apple', 3, 3.4, True)

In [36]:
#### ACCESSING TUPLE ELEMENTS

numbers = (1,2,3,4,5,6)

print("Index:",numbers[2])
print("Index:",numbers[0])
print("INdex:",numbers[-1])

## SLICING
print("Slicing")
print("Sliced:",numbers[2:])
print("Slced: ",numbers[::2])
print("sliecd: ",numbers[::-2])

Index: 3
Index: 1
INdex: 6
Slicing
Sliced: (3, 4, 5, 6)
Slced:  (1, 3, 5)
sliecd:  (6, 4, 2)

In [ ]:

## TUPLES OPERATIONS

# * Concatnation 

Concationtion_tuple =numbers + mix_tpl
print(Concationtion_tuple)

(1, 2, 3, 4, 5, 6, 'apple', 3, 3.4, True)

In [43]:
mix_tpl = ("apple",3,3.4,True) *3
print(mix_tpl)

('apple', 3, 3.4, True, 'apple', 3, 3.4, True, 'apple', 3, 3.4, True)

In [47]:
####  TUPLES ARE IMMUATABLE

name = ["ritu","raj"]
name[1] ="Singh"
print(name)


# Can't be muttable
'''
tpl = ("ritu", "raj")
tpl[1] ="singh"
print(tpl)'''

['ritu', 'Singh']

'\ntpl = ("ritu", "raj")\ntpl[1] ="singh"\nprint(tpl)'

In [54]:
## TUPLES METHODS

numbers = (1,2,3,4,3,4)
print(numbers.count(3))
print(numbers.index(4))

2
3

In [ ]:
#### Packing and Unpacking tuples


### Packing tuples

packed_tuple = 1,"Hello",3.14
print("Packed Tuples: ", packed_tuple)


# UNpacked tuple

a,b,c = packed_tuple
print(a)
print(b)
print(c)

Packed Tuples:  (1, 'Hello', 3.14)
1
Hello
3.14

In [57]:
# UNpacked with *

numbers = (1,2,3,4,5,6)

first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [58]:
text = ("Apple","bab","ritu","cat")

first,*middle,last = text 

print(middle)
print(first)
print(last)

['bab', 'ritu']
Apple
cat

In [1]:


#### Nested Tuples
#### Nested List


lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst[0][2])
print(lst[0][0:3])

3
[1, 2, 3]

In [70]:
#### Nested Tuples
#### Nested List


lst = [(1,2,3,4),(6,7,8,9),(1,"Hello",3.14,"c")]
print(lst[0][0:4])
print(lst[2][0:3])

(1, 2, 3, 4)
(1, 'Hello', 3.14)